page
  background-color #000
  color #fff
  padding-bottom 40px
button
  color #fff

.label
  font-size 13px
  margin 8px 0
  color rgba(255, 255, 255, 0.35)

.mt-1
  margin-top 6px
.mt-2
  margin-top 12px
.mt-3
  margin-top 24px
.mt-4
  margin-top 36px

ellipsis()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

.layout-page
  padding 0 12px

.cells
  border-radius 2px
  background-color rgba(255, 255, 255, 0.07)
  border 1px solid rgba(255, 255, 255, 0.14)
  display flex
  flex-direction column
  + .cells
    margin-top 12px
  .cell
    display flex
    padding 12px
    align-items center
    position relative
    &.more
      .desc
        flex 1
        font-size 13px
        color rgba(255, 255, 255, 0.32)
    &:active
      background-color rgba(255, 255, 255, 0.15)
    &:not(:last-child)
      &:after
        content ''
        display block
        position absolute
        bottom 0
        right 0
        left 12px
        height 1px
        border-bottom 1px solid rgba(187,187,187,1)
        opacity .11
    image
      display flex
      width 42px
      height 42px
      border-radius 6px
    .content
      display flex
      height 42px
      flex 1
      flex-direction column
      align-content center
      justify-content space-between
      padding-left 12px
      width 0
      .title
        ellipsis()
        font-size 14px
      .text
        ellipsis()
        height 20px
        font-size 13px
        color rgba(255, 255, 255, 0.32)
    .title
      flex 1
      font-size 14px
      display flex
      align-items center
      .icon
        margin-right 10px
    .action
      display flex
      align-items center
      .badge
        padding 1px 7px
        border-radius 3px
        background-color rgba(255, 255, 255, 0.09)
        color rgba(255, 255, 255, 0.82)
        font-size 10px
        text-align center
        &.ing
          background-color #3BB728
        &.have
          background-color #089DD9
        &.null
        &.end
          background-color #515151
      .icon
        color #9c9c9c
        margin-left 5px

button
  &:active
    opacity .8
